div{
    padding: 30px 10px;
    background-color: rgb(158, 154, 154);
    height: auto;
    width: 500px;
    font-size: 30px;
    color: rgb(141, 65, 212);
    text-align: center;
    margin: 20% 0 0 35%;
    }
